<div class="input-container">
  <form [formGroup]="todoForm">
    <mat-form-field class="input-width">
      <mat-label>Item</mat-label>
      <input matInput #newItem placeholder="add an item..." formControlName="item" />
    </mat-form-field>

    <button class="add-button" mat-stroked-button color="primary" [disabled]="todoForm.invalid"
      (click)="addItem(newItem.value)">
      <mat-icon aria-hidden="false" aria-label="Add todo icon">add_circle</mat-icon>
      Add
    </button>
    <button class="show-users-button" mat-stroked-button color="secondary" 
        (click)="showUsers = !showUsers">
        <mat-icon aria-hidden="false" aria-label="Person icon">person</mat-icon>
        {{ showUsers? 'Hide Active Users' : 'Show Active Users' }}
    </button>
  </form>
  <mat-error *ngIf="
      todoForm.get('item')?.invalid &&
      (todoForm.get('item')?.dirty || todoForm.get('item')?.touched)
    ">
    Please add some text.
  </mat-error>
</div>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div id="items-container" cdkDropList [cdkDropListData]="todoItems" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div [id]="item.id" class="example-box" *ngFor="let item of todoItems; let i = index" cdkDrag>
        {{ item.description }}
        <button mat-icon-button color="warn" (click)="deleteItem(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div id="done-container" cdkDropList [cdkDropListData]="doneItems" class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div [id]="item.id" class="example-box" *ngFor="let item of doneItems; let d = index" cdkDrag>
        {{ item.description }}
        <div class="icons-box">
          <button mat-icon-button color="warn" (click)="deleteDoneItem(d)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div #mouseTrackerDiv></div>

</div>